{% extends 'base.html' %}

{% block title %} Оценки {% endblock %}

{% block content %}
	<br>
		<p><h1>Оценки</h1></p>

<p>Ведомость с оценками можно посмотреть <a href="https://docs.google.com/spreadsheets/d/1jZ5i85bD5Sx7igJEecTPjfsgPyLCwdFodfOIWH-P050/edit?usp=sharing"><u>здесь</u></a>.</p>

<div style = 'position: relative;
    margin-bottom: 20px;
    width: 1050px;
    height: 120px;
    left: 0px;
    top: 0px;
    background: #aabce7;
	box-shadow: 4px 4px 35px #d3d3d3;
    border-radius: 10px;
	border: solid #2a2ca5;'>
    <p id = 'blue' style="text-align: center;"><h3>Формула оценки:</h3></p>
	<p id = 'blue' style="text-align: center;"><b>10%</b> (доклад) + <b>20%</b> (модерация) + <b>20%</b> (итоговое задание) + <b>20%</b> (дз) + <b>20%</b> (мини-тесты) + <b>20%</b> (большой тест) (+ бонусы)</p>
</div>
		
<div class="uvp-list">
	<ul>
		<li>доклад — рассказ о группе языков/языке по одной из предложенных тем (социолингвистические характеристики, фонетика, ...)</li>

		<li>модерация — доклад по статье на одну из тем по грамматике/фонетике/лексике</li>

		<li>итоговое задание — глоссирование фрагмента текста на одном из финно-угорских языков + анализ одного из грамматических явлений по корпусу (альтернативное итоговое NLP-задание: парсинг словаря своего языка; автоматический морфологический анализ фрагмента грамматики (например, конечный автомат, который членит на морфемы и приписывает грамматические характеристики); извлечение информации или статистика по корпусу и т.п.)</li>

		<li>дз — задачки и т.п.	(на максимальный балл нужно выполнить 80% ДЗ)</li>

		<li>мини-тесты — квизы по ридингам</li>

		<li>большой тест — экзамен</li>

		<li>бонусы — участие в обсуждении на паре (опционально)</li>
	</ul>			
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}