{% extends 'base.html' %}

{% block title %} Домашние задания {% endblock %}

{% block content %}
<br>
<p><h1>Домашние задания</h1></p>
<p>В <a href="https://drive.google.com/drive/folders/1jPpfcHyhifLTupiAssXgLUxsSLhS9eat?usp=sharing"><u>этой папке</u></a> лежат ридинги, по которым будут проводиться квизы и которые вы будете модерировать.</p>

<p>В <a href="https://drive.google.com/drive/folders/1-lhMy2Zv_kiPrsd7Fwr5BdnN4LwUh3HT"><u>эту папку</u></a> Вы загружаете свои презентации по модерируемым статьям.</p>
<hr>
<table>
    <tr>
    <td>
        <p><h3>Дз №1: (дедлайн: 5 февраля)</h3></p>
        <p>Решить <a href="https://docs.google.com/presentation/d/17Ij0bMKUpE-Grz2_iRo7JXsZs1t5ik1Y/edit?usp=sharing&ouid=107616598499830691518&rtpof=true&sd=true"><u>задачи</u></a> по фонетике.</p>
        <p>Альтернатива: табличка сочетания гласных (первый/непервый слог, сингармонизм, согласные кластеры...); пример кода вот <a href="https://drive.google.com/file/d/1HVwpof8NQRL9RhA4YxmNMJeF_dsUa0t6/view?usp=sharing"><u>здесь</u></a> - код + текстовые файлы для примера, которые можно подавать на вход. Дальше Ваши собственные идеи, модификации кода или собственный более продвинутый код.</p>
        <p>Домашнее задание необходимо сдать в <a href="https://forms.gle/quX9WSYWqiPz7Kwj6"><u>эту гугл-форму</u></a>.</p>
    </td>
    <td style="width: 100px; vertical-align:top">
        <time datetime="2022-01-08"><i>22 января</i></time><r>
        <time datetime="12:00">15:33</time>
    </td>
    </tr>
</table>
<hr>
<table>
    <tr>
    <td><p><h3>Доклады по социолингвистике и фонетике</h3></p>
        <p>Вам необходимо выбрать один язык или небольшую группу языков, которые Вам интересны, и определиться, будете вы рассказывать про фонетику или социолингвистику.</p>
        <p>Далее запишитесь, пожалуйста, в <a href="https://docs.google.com/spreadsheets/d/1BtZIdqftfeCx75v2YR9OLrndhJDa6aVs5fdC23ISjbw/edit?usp=sharing"><u>эту таблицу</u></a>.</p>
        <p>Примерный план доклада по социолингвистике: 
            <ol>
                <li>Классификация: состав группы/диалектный состав языка</li>
                <li>Языковая ситуация: количество говорящих, соседи, языковые комьюнити и т.п.</li>
                <li>Языковая ситуация:  газеты, радио, TV, литература на языке и т.п.</li>
                <li>Ревитализация или попытки сохранения языка</li>
                <li>Грамматики и словари (основные)</li>
                <li>Различные ресурсы</li>
                <li>Имена исследователей</li>
            </ol>
        </p>
        <p>Если же вы хотите рассказать про фонетику, можно сделать обзорный доклад, сосредоточиться на вокализме или консонантизме или же рассказать про конкретные необычные явления.</p>
    </td>
    <td style="width: 100px; vertical-align:top;">
        <time datetime="2022-01-16"><i>16 января</i></time><r>
        <time datetime="10:00">10:00</time>
    </td>
    </tr>
</table>
<hr>
<br>
<br>
<br>
{% endblock %}