{% extends 'base.html' %}

{% block title %} Домашние задания {% endblock %}

{% block content %}
<br>
<p><h1><u>Домашние задания</u></h1></p>
<p>В <a href="https://drive.google.com/drive/folders/1jPpfcHyhifLTupiAssXgLUxsSLhS9eat?usp=sharing">этой папке</a> лежат ридинги, по которым будут проводиться квизы и которые вы будете модерировать.</p>

<p>В <a href="https://drive.google.com/drive/folders/1-lhMy2Zv_kiPrsd7Fwr5BdnN4LwUh3HT">эту папку</a> Вы загружаете свои презентации по модерируемым статьям.</p>
<hr>
<table>
    <tr>
    <td>
        <p><h3>Дз №1: (дедлайн:)</h3></p>
        <p>Решить <a href="https://docs.google.com/presentation/d/17Ij0bMKUpE-Grz2_iRo7JXsZs1t5ik1Y/edit?usp=sharing&ouid=107616598499830691518&rtpof=true&sd=true">задачи</a> по фонетике.</p>
        <p>Альтернатива: табличка сочетания гласных (первый/непервый слог, сингармонизм, согласные кластеры...); пример кода (ссылка) вот здесь - код + текстовые файлы для примера, которые можно подавать на вход. Дальше Ваши собственные идеи, модификации кода или собственный более продвинутый код.</p>
        <p>Домашнее задание необходимо сдать в <a href="https://forms.gle/quX9WSYWqiPz7Kwj6">эту гугл-форму</a>.</p>
    </td>
    <td style="width: 100px; vertical-align:top">
        <time datetime="2022-01-08"><i>8 января</i></time><r>
        <time datetime="12:00">12:00</time>
    </td>
    </tr>
</table>
<hr>
<br>
<br>
<br>
<br>
<br>
{% endblock %}