{% extends 'base.html' %}

{% block title %} НИС "Уральские языки" {% endblock %}

{% block content %}
<br>
<p><h1><u>Новости курса</u></h1></p>
	<hr>
	<table>
		<tr>
		<td><p><h3><u>Добро пожаловать на сайт НИСа "Уральские языки"!</u></h3></p>
			<p>Здесь находится вся организационная информация, касаемая курса.</p>
			<p>В разделе "Оценки" находятся формула и ссылка на ведомость с актуальными оценками.</p>
			<p>Раздел "Презентации" содержит ссылки на семинарские презентации и хендауты.</p>
			<p>В разделе "Домашние задания" располагаются задания, образцы ожидаемых работ для некоторых заданий, гугл-формы для сдачи домашек, ридинги, а также папка для загрузки ваших презентаций (в формуле это "модерация"). Также в разделе будут появляться таблицы для распределений по докладам (информация будет дублироваться на главной странице).</p>
			<p>На этой странице будет появляться актуальная информация (темы новых семинаров, дедлайны домашек и т.п.), а также полезные ссылки.</p>
		</td>
		<td style="width: 100px; vertical-align:top;">
			<time datetime="2022-01-08"><i>8 января</i></time><r>
			<time datetime="12:00">12:00</time>
		</td>
		</tr>
	</table>
	<hr>	
			<p><h2><u>Полезные ссылки:</u></h2></p>

			<p><a href="https://docs.google.com/document/d/1iGdzcMUhOg_HBkRqcOgFEV61JqxSoq3Q_qjVhsY8Iyk/edit?usp=sharing">Здесь</a> вы можете найти тезаурус по терминам, которые пригодятся на НИСе и не только.</p>

			<h3><u>Корпуса уральских языков:</u></h3>

			<div class="uvp-list">
				<ul>
					<li><a href="https://www.slm.uni-hamburg.de/inel/">Селькупский</a></li>

					<li><a href="https://giellatekno.uit.no/index.rus.html">Саамские</a></li>

					<li><a href="http://beserman.ru/">Бесермянское наречие удмуртского языка</a></li>

					<li><a href="http://volgakama.web-corpora.net/">Поволжские языки</a> (лугово-марийский, горномарийский, мокшанский, эрзянский, удмуртский, коми-пермяцкий, коми-зырянский)</li>

					<li><a href="https://dict.fu-lab.ru/">Разные словари</a></li>
				</ul>						
			</div>

			<h3><u>Лонгриды по разным языкам:</u></h3>

			<div class="uvp-list">
				<ul>
					<li><a href="https://postnauka.ru/longreads/155688">Мокшанский</a></li>
						
					<li><a href="https://postnauka.ru/longreads/155220">Тундровый ненецкий</a></li>

					<li><a href="https://postnauka.ru/longreads/155733">Лесной ненецкий</a></li>

					<li><a href="https://postnauka.ru/longreads/156179">Кильдинский саамский</a></li>

					<li><a href="https://postnauka.ru/longreads/155718">Горномарийский</a></li>

					<li><a href="https://postnauka.ru/longreads/155706">Удмуртский</a></li>
						
					<li><a href="https://postnauka.ru/longreads/156128">Севернохантыйский</a></li>
						
					<li><a href="https://postnauka.ru/longreads/155709">Карельский</a></li>
						
					<li><a href="https://postnauka.ru/longreads/155705">Коми</a></li>

					<li><a href="https://postnauka.ru/longreads/155698">Вепсский</a></li>
				</ul>
			</div>
</div>
<br>
<br>
<br>
{% endblock %}