{% extends 'base.html' %}

{% block title %} НИС "Уральские языки" {% endblock %}

{% block content %}
<br>
<p><h1>Новости курса</h1></p>
<table style="border: 1px solid; border-color: #22237b; width: 100%;">
	<caption>Дедлайны (следите, информация будет обновляться)</caption>
	<tr style="border: 1px solid; border-color: #22237b;">
	 <th style="border: 1px solid; border-color: #22237b; text-align: center;">Дата</th>
	 <th style="border: 1px solid; border-color: #22237b; text-align: center;">Что сдать</th>
	 <th style="border: 1px solid; border-color: #22237b; text-align: center;">Куда сдать</th>
	</tr>
	<tr style="border: 1px solid; border-color: #22237b;"><td style="border: 1px solid; border-color: #22237b; text-align: center;">социолингвистика: 25 января<br>фонетика: 1 февраля</td><td style="border: 1px solid; border-color: #22237b; text-align: center;">Тема доклада</td><td style="border: 1px solid; border-color: #22237b; text-align: center;"><a href="https://docs.google.com/spreadsheets/d/1BtZIdqftfeCx75v2YR9OLrndhJDa6aVs5fdC23ISjbw/edit?usp=sharing"><u>таблица</u></a></td></tr>
	<tr style="border: 1px solid; border-color: #22237b;"><td style="border: 1px solid; border-color: #22237b; text-align: center;">5 февраля</td><td style="border: 1px solid; border-color: #22237b; text-align: center;">Дз №1</td><td style="border: 1px solid; border-color: #22237b; text-align: center;"><a href="https://forms.gle/quX9WSYWqiPz7Kwj6"><u>гугл-форма</u></a></td></tr>
	<tr style="border: 1px solid; border-color: #22237b;"><td style="border: 1px solid; border-color: #22237b; text-align: center;">уточняется</td><td style="border: 1px solid; border-color: #22237b; text-align: center;">Доклад</td><td style="border: 1px solid; border-color: #22237b; text-align: center;"><a href="https://drive.google.com/drive/folders/1w8KYTvtjK0jSwHtdAqNDQkXFxgI8f7fu?usp=sharing"><u>эта папка</u></a></td></tr>
</table>
	<hr>
	<table>
		<tr>
		<td><p><h3>Ридинги, квизы и модерация</h3></p>
			<p>В формулу оценки по курсу входят модерация статей-ридингов (то есть доклады по статьям) и квизы по ним же. Все домашнее чтение находится в <a href="https://drive.google.com/drive/folders/1_i2pFP1PQeRyCSANKs-6qOSzb4F9GoDm"><u>этой папке</u></a>. Записаться на модерацию того или иного ридинга вы можете в <a href="https://docs.google.com/spreadsheets/d/15s-UTp7NiL8HYm4hOY1a0qtw2-KhwQWaUO4Du9YOiFw/edit#gid=2016014549"><u>эту таблицу</u></a>.</p>
		</td>
		<td style="width: 100px; vertical-align:top;">
			<time datetime="2023-02-20"><i>20 февраля</i></time><r>
			<time datetime="11:54">11:54</time>
		</td>
		</tr>
	</table>
	<hr>
	<table>
		<tr>
		<td><p><h3>Доклады по социолингвистике и фонетике</h3></p>
			<p>Поскольку сдача докладов по социолингвистике уже завершена, загрузите, пожалуйста, свои презентации в ближайшее время в <a href="https://drive.google.com/drive/folders/1w8KYTvtjK0jSwHtdAqNDQkXFxgI8f7fu?usp=sharing"><u>эту папку</u></a>. Доклады по фонетике необходимо загрузить туда же.</p>
		</td>
		<td style="width: 100px; vertical-align:top;">
			<time datetime="2023-01-29"><i>29 января</i></time><r>
			<time datetime="13:04">13:04</time>
		</td>
		</tr>
	</table>
	<hr>
	<table>
		<tr>
		<td><p><h3>Доклады по социолингвистике и фонетике</h3></p>
			<p>В ближайшее время состоятся первые доклады.</p>
			<p>Вам необходимо выбрать один язык или небольшую группу языков, которые Вам интересны, и определиться, будете вы рассказывать про фонетику или социолингвистику.</p>
			<p>Далее запишитесь, пожалуйста, в <a href="https://docs.google.com/spreadsheets/d/1BtZIdqftfeCx75v2YR9OLrndhJDa6aVs5fdC23ISjbw/edit?usp=sharing"><u>эту таблицу</u></a>.</p>
			<p>Примерный план доклада по социолингвистике: 
				<ol>
					<li>Классификация: состав группы/диалектный состав языка</li>
					<li>Языковая ситуация: количество говорящих, соседи, языковые комьюнити и т.п.</li>
					<li>Языковая ситуация:  газеты, радио, TV, литература на языке и т.п.</li>
					<li>Ревитализация или попытки сохранения языка</li>
					<li>Грамматики и словари (основные)</li>
					<li>Различные ресурсы</li>
					<li>Имена исследователей</li>
				</ol>
			</p>
			<p>Если же вы хотите рассказать про фонетику, можно сделать обзорный доклад, сосредоточиться на вокализме или консонантизме или же рассказать про конкретные необычные явления.</p>
		</td>
		<td style="width: 100px; vertical-align:top;">
			<time datetime="2023-01-16"><i>16 января</i></time><r>
			<time datetime="10:00">10:00</time>
		</td>
		</tr>
	</table>
<hr>
	<table>
		<tr>
		<td><p><h3>Добро пожаловать на сайт НИСа "Уральские языки"!</h3></p>
			<p>Здесь находится вся организационная информация, касающаяся курса.</p>
			<p>В разделе "Оценки" находятся формула и ссылка на ведомость с актуальными оценками.</p>
			<p>Раздел "Презентации" содержит ссылки на семинарские презентации и хендауты.</p>
			<p>В разделе "Домашние задания" располагаются задания, образцы ожидаемых работ для некоторых заданий, гугл-формы для сдачи домашек, ридинги, а также папка для загрузки ваших презентаций (в формуле это "модерация"). Также в разделе будут появляться таблицы для распределений по докладам (информация будет дублироваться на главной странице).</p>
			<p>На этой странице будет появляться актуальная информация: темы новых семинаров, дедлайны домашек (см. таблицу в начале страницы) и т.п., а также полезные ссылки (внизу).</p>
		</td>
		<td style="width: 100px; vertical-align:top;">
			<time datetime="2023-01-08"><i>8 января</i></time><r>
			<time datetime="12:00">12:00</time>
		</td>
		</tr>
	</table>
<hr>	
	<p><h2>Полезные ссылки:</h2></p>

	<p><a href="https://docs.google.com/document/d/1iGdzcMUhOg_HBkRqcOgFEV61JqxSoq3Q_qjVhsY8Iyk/edit?usp=sharing"><u>Здесь</u></a> вы можете найти тезаурус по терминам, которые пригодятся на НИСе и не только.</p>

	<h3>Корпуса уральских языков:</h3>

	<div class="uvp-list">
		<ol>
			<li><a href="https://www.slm.uni-hamburg.de/inel/"><u>Селькупский</u></a></li>

			<li><a href="https://giellatekno.uit.no/index.rus.html"><u>Саамские</u></a></li>

			<li><a href="http://beserman.ru/"><u>Бесермянское наречие удмуртского языка</u></a></li>

			<li><a href="http://volgakama.web-corpora.net/"><u>Поволжские языки</u></a> (лугово-марийский, горномарийский, мокшанский, эрзянский, удмуртский, коми-пермяцкий, коми-зырянский)</li>

			<li><a href="https://dict.fu-lab.ru/"><u>Разные словари</u></a></li>
		</ol>						
	</div>

	<h3>Лонгриды по разным языкам:</h3>

	<div class="uvp-list">
		<ol>
			<li><a href="https://postnauka.ru/longreads/155688"><u>Мокшанский</u></a></li>
			
			<li><a href="https://postnauka.ru/longreads/155220"><u>Тундровый ненецкий</u></a></li>

			<li><a href="https://postnauka.ru/longreads/155733"><u>Лесной ненецкий</u></a></li>

			<li><a href="https://postnauka.ru/longreads/156179"><u>Кильдинский саамский</u></a></li>

			<li><a href="https://postnauka.ru/longreads/155718"><u>Горномарийский</u></a></li>

			<li><a href="https://postnauka.ru/longreads/155706"><u>Удмуртский</u></a></li>
						
			<li><a href="https://postnauka.ru/longreads/156128"><u>Севернохантыйский</u></a></li>
						
			<li><a href="https://postnauka.ru/longreads/155709"><u>Карельский</u></a></li>
						
			<li><a href="https://postnauka.ru/longreads/155705"><u>Коми</u></a></li>

			<li><a href="https://postnauka.ru/longreads/155698"><u>Вепсский</u></a></li>
		</ol>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}