{% extends 'base.html' %}

{% block title %} Презентации {% endblock %}

{% block content %}
<br>
	<p><h1>Презентации и прочие материалы</h1></p>

	<table style="width: 100%;">
		<tr>
		  <td style="width: 50%; vertical-align:top;">
			<h3>Презентации с семинаров:</h3>
				<ol>
					<li><a href="https://drive.google.com/file/d/1uOMFFvfJfzow4CGYvMO0J--AdKiSOK47/view"><u>Общие сведения об уральских языках</u></a></li>
					<li><a href="https://drive.google.com/file/d/1lWn1KS2SAfBQ7uDRKpUSAi1UnUxk2LPe/view"><u>Фонетика</u></a></li>
					<li><a href="https://drive.google.com/file/d/1wzUqLqL8vKADZGqfevCNBMkL6ZskmXds/view"><u>Морфология</u></a></li>
					<li><a href="https://drive.google.com/file/d/1ZI_zovvzGlgk2mdf-cz-H233Q4wfsSEI/view"><u>Дифференцированное маркирование объекта</u></a></li>
					<li><a href="https://drive.google.com/file/d/13pNXHXjOzqQedwKefgV-0hwWG3cFWE-8/view"><u>Посессивность</u></a></li>
				</ol>
		  </td>
		  <td style="width: 50%; vertical-align:top;">
			<h3>Хендауты для семинаров:</h3>
				<ol>
					<li><a href="https://drive.google.com/file/d/1oeeSVUnJijp-SvSpH1CjqunbsgFyDBEK/view"><u>Эвиденциальность и отрицание</u></a></li>
					<li><a href=""><u>(файлы еще будут добавляться)</u></a></li>
					<li><a href=""><u></u></a></li>
					<li><a href=""><u></u></a></li>
				</ol>
		  </td>
		</tr>
	  </table>
<br>
<br>
<br>
{% endblock %}